@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
      font-family: 'Metropolis';
      font-style: normal;
      font-weight: normal;
      src: local('Metropolis Regular'), url('../styles/Metropolis-Regular.woff') format('woff');
      }
  }