@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #242e42;
  color: #fff;
}

.stars {
  background-image: url("/stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  background-image: url("/right.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.react-tel-input {
  color: #000;
}
.react-tel-input .form-control {
  width: 100% !important;
  border-radius: 0.375rem !important;
}
.react-tel-input .flag-dropdown {
  border-radius: 0.375rem 0 0 0.375rem !important;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background: #d2fffa;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d2fffa;
  border-radius: 0.6rem;
  z-index: -99;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #37abbc;
  border-radius: 1rem;
}

@layer base {
  @font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: normal;
    src: local("Metropolis Regular"),
      url("../styles/Metropolis-Regular.woff") format("woff");
  }
}
