.maincontainer{
    display: flex;
    justify-content: space-between;
}
.leftcontainer{
    border-left-width: 5px;
    border-left-color: rgb(0, 150, 136);
    background-color: #242E42;
    width: 65%;
}
.devsoclogo{
    margin: 1rem;
    height: 4.5rem;
    width: 4.5rem;
}
.leftcontainer > h1 {
    margin-top: 1rem;
    margin-left: 8rem;
    color: white;
    font-weight: bold;
    font-size: 50px;
}
.leftcontainer > h6 {
    margin-left: 8rem;
    color: white;
    font-weight: 200;
    font-size: 30px;
}
.formcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.formcontainer > label {
    margin-top: 1rem;
    margin-left: 8rem;
    color: white;
    font-weight: 100;
    font-size: 20px;
}
.otpinput {
    border-radius: 10px;
    height: 2.4rem;
    width: 30rem;
    margin-left: 8rem;
    margin-top: 0.2rem;
    padding: 0.8rem;
}
.passwordinput {
    border-radius: 10px;
    height: 2.4rem;
    width: 30rem;
    margin-left: 8rem;
    margin-top: 0.2rem;
    padding: 0.8rem;
}
.errorotpinput {
    border-radius: 10px;
    height: 2.4rem;
    width: 30rem;
    margin-left: 8rem;
    margin-top: 0.2rem;
    padding: 0.8rem;
    border: solid red 2px;
}
.errorpasswordinput {
    border-radius: 10px;
    height: 2.4rem;
    width: 30rem;
    margin-left: 8rem;
    margin-top: 0.2rem;
    padding: 0.8rem;
    border: solid red 2px;
}
.formcontainer > button {
    display: flex;
    justify-content: center;
    margin-left: 8rem;
    margin-top: 1.2rem;
    border-radius: 10px;
    padding: 0.3rem;
    width: 13rem;
    height: 2.1rem;
}
.formcontainer > span {
    font-size: small;
    color: red;
    margin-left: 8rem;
    margin-top: 0.5rem;
}
.otpinput::-webkit-outer-spin-button,
.otpinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.errorotpinput::-webkit-outer-spin-button,
.errorotpinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.rightcontainer {
    background-color: #20293C;
    width: 35%;
    overflow: hidden;
    height: 100vh;
}
.saturn{
    opacity: 40%;
    rotate: -12deg;
    width: 16rem;
    height: 16rem;
    position: relative;
    bottom: 100px;
    left: 30px;
}
.stars{
    position: relative;
    bottom: 250px;
    width: 96rem;
    right: 30px;
}
.astro{
    transform: scaleX(-1);
    height: 35rem;
    width: 35rem;
    position: relative;
    bottom: 1150px;
    left: 150px;
    opacity: 100%;
}
.mars{
    position: relative;
    bottom: 1190px;
    opacity: 40%;
    left: 380px;
    width: 16rem;
    height: 16rem;
}
@media only screen and (max-width: 1400px) {
    .maincontainer{
        display: block;
    }
    .leftcontainer{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .devsoclogo{
        margin: 0.5rem;
    }
    .leftcontainer > h1 {
        margin: 0;
        font-size: 200%;
    }
    .leftcontainer > h6 {
        margin: 0;
        font-size: 120%;
    }
    .formcontainer{
        align-items: center;
        margin-top: 0;
    }
    .formcontainer > label {
        margin-top: 2%;
        margin-left: 0;
        font-size: 150%;
    }
    .formcontainer > span {
        margin-top: 1%;
        margin-left: 0;
    }
    .otpinput {
        width: 20rem;
        margin: 0;
    }
    .passwordinput {
        width: 20rem;
        margin: 0;
    }
    .errorotpinput {
        width: 20rem;
        margin: 0;
    }
    .errorpasswordinput {
        width: 20rem;
        margin: 0;
    }
    .formcontainer > button {
        margin-left: 0;
    }
    .rightcontainer{
        display: none;
    }
  }
  @media only screen and (max-height: 420px) {
    .leftcontainer{
        height: fit-content;
    }
    .formcontainer > button {
        margin-bottom: 1rem;
    }
}